{{#if all}}
<li class="active"><a href="/all">All</a></li>
{{else}}
<li><a href="/all">All</a></li>
{{/if}}
{{#if calculators}}
<li class="active"><a href="/calculators">Calculators</a></li>
{{else}}
<li><a href="/calculators">Calculators</a></li>
{{/if}}
{{#if GraphingCalculator}}
<li class="active"><a href="/GraphingCalculator">Graphing Calc</a></li>
{{else}}
<li><a href="/GraphingCalculator">Graphing Calc</a></li>
{{/if}}
{{#if learnmath}}
<li class="active"><a href="/learnmath">LearnMath</a></li>
{{else}}
<li><a href="/learnmath">LearnMath</a></li>
{{/if}}
{{#if math}}
<li class="active"><a href="/math">Math</a></li>
{{else}}
<li><a href="/math">Math</a></li>
{{/if}}
{{#if matheducation}}
<li class="active"><a href="/matheducation">Math Edu</a></li>
{{else}}
<li><a href="/matheducation">Math Edu</a></li>
{{/if}}