{{#if calculators}}
<li class="active"><a href="/subreddits/calculators">Calculators</a></li>
{{else}}
<li><a href="/subreddits/calculators">Calculators</a></li>
{{/if}}
{{#if GraphingCalculator}}
<li class="active"><a href="/subreddits/GraphingCalculator">Graphing Calc</a></li>
{{else}}
<li><a href="/subreddits/GraphingCalculator">Graphing Calc</a></li>
{{/if}}
{{#if learnmath}}
<li class="active"><a href="/subreddits/learnmath">LearnMath</a></li>
{{else}}
<li><a href="/subreddits/learnmath">LearnMath</a></li>
{{/if}}
{{#if math}}
<li class="active"><a href="/subreddits/math">Math</a></li>
{{else}}
<li><a href="/subreddits/math">Math</a></li>
{{/if}}
{{#if matheducation}}
<li class="active"><a href="/subreddits/matheducation">Math Edu</a></li>
{{else}}
<li><a href="/subreddits/matheducation">Math Edu</a></li>
{{/if}}